{
  "openapi": "3.0.0",
  "info": {
    "title": "GTAVISPOT Public API Engine",
    "description": "Production-ready backend API routes serving dynamic page payloads, search indexing, interactive maps, and cited LLM prompt context blocks.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.gtavispot.com",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development Server"
    }
  ],
  "paths": {
    "/api/characters": {
      "get": {
        "summary": "List characters",
        "description": "Retrieves all published characters in the database.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/characters/{slug}": {
      "get": {
        "summary": "Get character details page payload",
        "description": "Returns CharacterPageV1 view-model details, statistics, and recommendations.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Character not found"
          }
        }
      }
    },
    "/api/locations": {
      "get": {
        "summary": "List locations",
        "description": "Retrieves all published locations.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/locations/{slug}": {
      "get": {
        "summary": "Get location details page payload",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/vehicles": {
      "get": {
        "summary": "List vehicles",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/vehicles/{slug}": {
      "get": {
        "summary": "Get vehicle details",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/weapons": {
      "get": {
        "summary": "List weapons",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/weapons/{slug}": {
      "get": {
        "summary": "Get weapon details",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/businesses": {
      "get": {
        "summary": "List businesses",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/businesses/{slug}": {
      "get": {
        "summary": "Get business details",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/media/featured": {
      "get": {
        "summary": "Get featured media",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/media/gallery": {
      "get": {
        "summary": "Get gallery images",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/media/wallpapers": {
      "get": {
        "summary": "Get wallpaper images",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/search": {
      "get": {
        "summary": "Search database entities",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/map": {
      "get": {
        "summary": "Get interactive map coordinates markers",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/ai/context": {
      "get": {
        "summary": "Get factual structured context prompt",
        "parameters": [
          {
            "name": "entityType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["character", "location", "vehicle", "weapon", "business"]
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponseEnvelope": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "nullable": true
          },
          "meta": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "string"
              },
              "etag": {
                "type": "string"
              }
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        }
      }
    }
  }
}
